<ion-view title="CapCoin" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="capCoin-list11">
      <ion-item class="item-icon-left item-icon-right" id="capCoin-list-item42">
        <i class="icon ion-social-bitcoin"></i>5
        <span class="item-note">Grátis</span>
        <i class="icon ion-social-youtube-outline"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="capCoin-list-item46">
        <i class="icon ion-social-bitcoin"></i>200
        <span class="item-note">R$2,00</span>
        <i class="icon ion-cash"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="capCoin-list-item47">
        <i class="icon ion-social-bitcoin"></i>1000
        <span class="item-note">R$10,00</span>
        <i class="icon ion-cash"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="capCoin-list-item43">
        <i class="icon ion-social-bitcoin"></i>2500
        <span class="item-note">R$23,75</span>
        <i class="icon ion-cash"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="capCoin-list-item44">
        <i class="icon ion-social-bitcoin"></i>5000
        <span class="item-note">R$46,75</span>
        <i class="icon ion-cash"></i>
      </ion-item>
    </ion-list>
    <ion-list id="capCoin-list12">
      <ion-item class="item-icon-left item-icon-right" id="capCoin-list-item45">
        <i class="icon ion-social-bitcoin"></i>10000
        <span class="item-note">R$92,50</span>
        <i class="icon ion-cash"></i>
      </ion-item>
    </ion-list>
    <div id="capCoin-button-bar2" class="button-bar">
      <button id="capCoin-button15" class="button button-balanced button-block">PicPay</button>
      <button id="capCoin-button16" class="button button-positive button-block">Pagar</button>
    </div>
    <div id="capCoin-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">+5% de CapCoin com
        <strong>PicPay</strong>
      </p>
    </div>
  </ion-content>
</ion-view>