<ion-view title="CapShop" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="capShop-list18">
      <ion-item class="item-thumbnail-left item-icon-right" id="capShop-list-item66">
        <img src="img/Rw8EnAZgS6qxUeAZ7bT5_rapel.jpg">
        <h2>Rapel</h2>
        <p>Morro do Moreno</p>
        <i class="icon ion-bag"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="capShop-list-item68">
        <img src="img/lSA8cOKIQcqzcoQd3MiU_standup.jpg">
        <h2>Stand up Peddal</h2>
        <p>Praia das Castanheiras</p>
        <i class="icon ion-bag"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="capShop-list-item67">
        <img src="img/9Fy19waNRh2m6y6YQbc9_camisa.jpg">
        <h2>Camisa de Evento</h2>
        <p>Festa da Penha </p>
        <i class="icon ion-bag"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="capShop-list-item69">
        <img src="img/OE09LMTFRc2JoRMkSYGi_bluesfestival.jpeg">
        <h2>Pedra Blues Festival</h2>
        <p>Pedra Azul</p>
        <i class="icon ion-bag"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>