<ion-view title="Feed" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="feed-card22">
      <ion-item class="item-avatar" id="feed-list-item25">
        <img src="img/RYJ6p4qGSgWBadzXocHI_vegeta3.jpg">
        <h2>Vegeta</h2>
        <p>30 min</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/3Ls3FliRAKXDqMZF61Hg_rota-do-lagarto.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="feed-list-item-container4">
        <div id="feed-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Em
            <strong>Pedra Azul</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="feed-card21">
      <ion-item class="item-avatar" id="feed-list-item33">
        <img src="img/KOe1TQroQ8K872qh6fMP_Eleven.jpg">
        <h2>Eleven</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/QS5cfsMvTFSXtcwHjnUg_Catedral_de_Vitria.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="feed-list-item-container9">
        <div id="feed-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Em
            <strong>Catedral de Vitória</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>