<ion-view title="Objetivos" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="card" ng-repeat="group in groups" ng-click="toggleGroup(group)">
      <div class="item item-divider">
        <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
        <span>{{group.resumo}}</span>
      </div>
      <div class="item item-text-wrap" ng-show="isGroupShown(group)" style="text-align: justify;">
        <img src="img/{{group.imagem}}" width="100%" />
        {{group.descricao}}
      </div>
    </div>
  </ion-content>
</ion-view>