<ion-view title="Perfil" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="perfil-list13">
      <ion-item class="item-thumbnail-left" id="perfil-list-item48">
        <img src="img/mLkS0oXuS7OujMwOY0iN_bus2.png">
        <h2>Dona Marocas</h2>
        <p>Guia Iniciante - 100xp</p>
      </ion-item>
    </ion-list>
    <div id="perfil-container4">
      <div class="spacer" style="width: 300px; height: 6px;"></div>
    </div>
    <div id="perfil-container5">
      <ion-list id="perfil-list9">
        <ion-item class="item-icon-left item-icon-right" id="perfil-list-item54" ui-sref="tabsController.capShop()">
          <i class="icon ion-social-bitcoin"></i>1000
          <span class="item-note">Trocar CapShop</span>
          <i class="icon ion-bag"></i>
        </ion-item>
      </ion-list>
    </div>
    <a ui-sref="tabsController.capCoin()" id="perfil-button4" class="button button-positive button-block">Comprar CapCoins</a>
  </ion-content>
</ion-view>