<ion-view title="Ranking" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="ranking-list10">
      <ion-item class="item-avatar" id="ranking-list-item28">
        <img src="img/vavA5UJ9RNkv8munigVr_vegeta3.jpg">
        <h2>Vegeta</h2>
        <p>1º - 8100 xp</p>
      </ion-item>
      <ion-item class="item-avatar" id="ranking-list-item29">
        <img src="img/oQUuUZHQAmZtHwvPFrPe_Eleven.jpg">
        <h2>Eleven</h2>
        <p>2º - 4500 xp</p>
      </ion-item>
    </ion-list>
    <ion-list id="ranking-list14">
      <ion-item class="item-avatar" id="ranking-list-item57">
        <img src="img/kOhNzyQROrbeflBlNqdw_ChapolinColorado.jpg">
        <h2>Chapolin Colorado</h2>
        <p>3º - 3700 xp</p>
      </ion-item>
      <ion-item class="item-avatar" id="ranking-list-item58">
        <img src="img/fI5jzynKQ2HLbWSE61IT_bus2.png">
        <h2>Dona Marocas</h2>
        <p>4º - 666 xp</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>