<ion-view title="CapShop" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="capShop-list18">
      <ion-item class="item-thumbnail-left" id="capShop-list-item66">
        <img src="img/JPFgAagaSnaewmAYSOyB_Cerveja.png">
        <h2>Cerveja 300ml</h2>
        <p>Barraca do Zé // Festa da Italemanha // </p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="capShop-list-item68">
        <img src="img/a1LuwvM1SxqiZqNVV7FP_hamburguer-tradicional.jpg">
        <h2>Hambuguer</h2>
        <p>MotoRock // Rocky Philly's Cheese Stake</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="capShop-list-item67">
        <img src="img/9Fy19waNRh2m6y6YQbc9_camisa.jpg">
        <h2>Camisa Evento</h2>
        <p>Festa da Penha </p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="capShop-list-item69">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>