<ion-view title="Objetivos" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="objetivos-list6">
      <ion-item class="item-icon-left item-icon-right" id="objetivos-list-item70">
        <i class="icon ion-ios-sunny"></i>Praia Das Castanheiras
        <span class="item-note">500</span>
        <i class="icon ion-android-star-half"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="objetivos-list-item15">
        <i class="icon ion-ios-snowy"></i>Pedra Azul
        <span class="item-note">500</span>
        <i class="icon ion-android-star-half"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="objetivos-list-item14">
        <i class="icon ion-trophy"></i>Convento da Penha
        <span class="item-note">300</span>
        <i class="icon ion-android-star"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="objetivos-list-item16">
        <i class="icon ion-trophy"></i>Morro do Moreno
        <span class="item-note">300</span>
        <i class="icon ion-android-star-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>